<div id="showcase">
    <partial name="~/Views/Sections/_Showcase.cshtml" />
</div>

<div id="features">
    <partial name="~/Views/Sections/_OurTool.cshtml" />
</div>


<partial name="~/Views/Sections/_Light.cshtml" />
<partial name="~/Views/Sections/_ManageWork.cshtml" />
<partial name="~/Views/Sections/_Download.cshtml" />
<partial name="~/Views/Sections/_Integrate.cshtml" />
<partial name="~/Views/Sections/_Anything.cshtml" />