<link rel="stylesheet" href="~/css/SignUp.css" asp-append-version="true" />
@model SignUpViewModel
@{
    ViewData["Title"] = "Create Account";
}

<section class="sign-up">
    <h1>Create Account</h1>
    <p class="sign-in-here">Already have an account? <a asp-action="SignIn" asp-controller="">Sign in here.</a></p>
    <form method="post" asp-action="SignUp" asp-controller="Account" novalidate>
        <div class="name-container">
            <div>
                <label asp-for ="FirstName">First name</label>
                <span asp-validation-for="FirstName"></span>
                <input asp-for="FirstName" id="fname" placeholder="Enter your first name">
            </div>

            <div>
                <label asp-for ="LastName"  >Last name</label>
                <span asp-validation-for="LastName"></span>
                <input asp-for="LastName" id="lname" placeholder="Enter your last name">
            </div>
        </div>
        <label asp-for="Email">Email address</label>
        <span asp-validation-for="Email"></span>
        <input asp-for="Email" id="email" placeholder="Enter your email address">

        <label asp-for="Password">Password</label>
        <span asp-validation-for="Password"></span>
        <input asp-for="Password" id="password" placeholder="********">

        <label asp-for="ConfirmPassword">Confirm password</label>
        <span asp-validation-for="ConfirmPassword"></span>
        <input asp-for="ConfirmPassword" id="conf-password" placeholder="********">
        <div class="terms-container">
            <input type="checkbox" id="terms" name="terms" />
            <label for="terms">I agree to the <a href="">Terms</a> & <a href="">Conditions.</a></label>
        </div>
        <button class="btn">Sign up</button>
    </form>
</section>

        @await Html.PartialAsync("_ValidationScriptPartial")