<link rel="stylesheet" href="~/css/SignIn.css" asp-append-version="true" />
@model SignInViewModel
@{
    ViewData["Title"] = "Sign in to your Account";
}

<section class="sign-in">

    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
    {
        <div class="error-message">
            @ViewData["ErrorMessage"]
        </div>
    }
 
    <h1>Welcome Back</h1>
    <p class="sign-up-here">Don't have an account yet? <a asp-action="SignUp" asp-controller="Account">Sign up here.</a></p>
    <form method="post" asp-action="SignIn" asp-controller="Account" novalidate>
        <label asp-for="Email">Email address</label>
        <input asp-for="Email" id="email" placeholder="Enter your email address">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" id="password" placeholder="********">
        <div class="remember-me-container">
            <input type="checkbox" id="remember-me" name="remember-me" />
            <label asp-for="RememberMe">Remember me</label>
        </div>
        <button class="btn">Sign in</button>
        <div class="forgot-password-container">
            <a href="">Forgot your password?</a>
        </div>
        <div class="socials-container">
            <p>Or sign in with your social network</p>
            <div>
                <a class="btn light" href=""><i class="fa-brands fa-google"></i>Google</a>
                <a class="btn light" href=""><i class="fa-brands fa-facebook-f"></i>Facebook</a>
            </div>
        </div>
    </form>
</section>